body {
  box-sizing: border-box;
  padding: 20px;
  margin: 0;
}

.portfolio-container {
  display: flex;
  height: auto;
  width: auto;
  justify-content: space-between;
  flex-direction: column;
  gap: 41px;
}
.header {
  display: flex;
  height: 100px;
  width: 3030px;
  justify-content: space-between;
  /* background: red; */
  font-size: 41px;
  margin: auto;
}
.left-head {
  display: flex;
  align-items: center;
  margin-left: 107px;
}

.right-head {
  display: flex;
  gap: 32px;
  align-items: center;
  margin-right: 107px;
  gap: 32px;
}
.Home {
  display: flex;
  /* height: 320px; */
  width: 3030px;
  justify-content: space-between;
  /* background-color: yellow; */
  font-size: 52px;
  margin: 20px;
}

.para {
  font-size: 30px;
}
.soft {
  font-size: 35px;
}
.button {
  background-color: rgba(255, 208, 0, 0.966);
  width: 117px;
  height: 47px;
  font-size: 24px;
  /* border: 2px solid black; */
  border-radius: 12px;
}
.link-button {
  /* background-color: rgba(255, 255, 0, 0.933); */
  width: 117px;
  height: 47px;
  font-size: 24px;
  /* border: 2px solid black; */
  border-radius: 12px;
}
.card {
  /* display: flex; */
  /* justify-content: center;
  align-items: center; */
  /* justify-content: space-between; */
  margin-left: 107px;
  font-size: 110px;
}
.buttons {
  display: flex;
  width: 249px;
  /* background-color: red; */
  justify-content: space-between;
}
.card1 {
  height: 566px;
  margin-left: 1237px;
}
.image {
  height: 559px;
  display: flex;
  width: 666px;
  background-color: yellow;
  border: 2px soli black;
  border-radius: 481px;
}
.hellow {
  font-size: 71px;
}
.para-div {
  display: flex;
}
.projects {
  display: flex;
  height: 100px;
  /* background-color: red; */
  justify-content: center;
  align-items: center;
  font-size: 80px;
}
.projects-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
}
.projectname-image {
  display: flex;
  justify-content: center;
  width: 1200px;
  justify-content: space-between;
  /* border: 2px solid gray; */
  /* border-radius: 6px; */
}
.content {
  font-size: 20px;
  padding-top: 70px;
}
.v-button {
  display: flex;
  height: 70px;
  padding-top: 40px;
}
.p-button {
  font-size: 20px;
  border: 2px solid black;
  border-radius: 30px;
  width: 201px;
}
.p-name {
  font-size: 50px;
}
