* {
  font-family: Roboto;
}

body {
  box-sizing: border-box;
  padding: 20px;
  margin: 0;
}

.portfolio-container {
  display: flex;
  flex-direction: column;
}
.header {
  display: flex;
  justify-content: space-between;
}
.left-head {
  display: flex;
  align-items: center;
  font-family: comfortaa;
}

.right-head {
  display: flex;
  gap: 32px;
  font-family: Releway;
}
.Home {
  display: flex;
  gap: 216px;
  margin-top: 50px;
}

.para {
  color: #828282;
  font-family: nunito;
}
.soft {
  font-family: Nunito;
  color: #fdc435;
}
.button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px 24px;
  width: 115px;
  height: 43px;
  background: #fdc435;
  border-radius: 8px;
}
.link-button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px 24px;
  width: 115px;
  height: 43px;
  border-radius: 8px;
}
.card {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.buttons {
  display: flex;
  width: 249px;
  justify-content: space-between;
}
.card1 {
  display: flex;
  width: 50%;
  justify-content: center;
}
.image {
  display: flex;
  contain: size;
}

.para-div {
  display: flex;
}
.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Playfair Display;
}

.projects-container {
  display: flex;
  flex-direction: column;
}
.projectname-image {
  display: flex;
  height: 266px;
  gap: 67px;
  margin-top: 35px;
}
.content {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: flex-end;
}
.v-button {
  display: flex;
  height: 70px;
  padding-top: 40px;
}
.p-button {
  border: 2px solid black;
  border-radius: 30px;
  width: 201px;
}
.p-name {
  font-family: Playfair Display;
}
.soft {
  color: rgba(255, 187, 0, 0.921);
}
.c-image {
  display: flex;
  contain: size;
  width: 50%;
}
.grayfont {
  color: #828282;
  font-family: Nunito;
}
.footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 45px;
  margin-top: 45px;
}
.foot-image {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 61px;
}
.foot-last {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #828282;
  font-family: Nunito;
}
.project-image {
  display: flex;
  height: 266px;
  gap: 67px;
  margin-top: 35px;
}
.content-center {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.l-image {
  display: flex;
  contain: size;
  width: 50%;
  justify-content: flex-end;
}
.project-bottom-line {
  display: flex;
  border-bottom-style: groove;
  border-color: rgba(255, 187, 0, 0.921);
  width: 200px;
  justify-content: center;
}
